/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #F0F4F8;
}

/* Header Styles */
header {
    background-color: #0077B6;
    padding: 20px 0;
    text-align: center;
    color: #FFF;
}

h1 {
    font-size: 3em;
}

/* Search Box Styles */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.searchbox {
    display: flex;
    align-items: center;
}

.searchbox input {
    background: #FFF;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #0077B6;
    transition: border-color 0.3s;
}

.searchbox input:focus {
    border-color: #005A8E;
    outline: none;
}

.searchbox button {
    height: 50px;
    width: 120px;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #0077B6;
    color: #FFF;
    border: none;
}

.searchbox button:hover {
    background-color: #005A8E;
}

/* Loader Styles */
.loader {
    font-size: 1.5em;
    text-align: center;
    color: #0077B6;
    margin-top: 20px;
}

/* Image Grid Styles */
.image-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.image-grid img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.image-grid img:hover {
    transform: scale(1.05);
}

/* Show More Button Styles */
.show-more {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#showMore {
    height: 50px;
    width: 120px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #0077B6;
    color: #FFF;
    border: none;
}

#showMore:hover {
    background-color: #005A8E;
}

/* Main Container Styles */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

h1 {
    font-size: 3em;
    color: #0077B6;
    margin-bottom: 30px;
}

/* Box Design for Image */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.image-grid a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.image-grid a:hover {
    transform: scale(1.05);
}
